:root {
    --title-text-color: #212121;
    --secondary-text-color:#757575;
    --background-color:#ffffff;
    --accent-color: #2196F3;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body{
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}





/* Лого */

.logo, .logo__part{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo{
    color: var(--accent-color);
}

/* Site nav */

.header{
    border-bottom: 1px solid #ECECEC;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    display: flex;
    align-items: center;
    /* padding-top: 24px;
    padding-bottom: 25px; */
}


.nav__contacts{
    display: flex;
    margin-left: 305px;
}

.contacts-nav .item:not(:last-child){
    margin-right: 30px;
}

.contacts-nav .item{
    align-items: center;
}

.nav__site{
    display: flex;
}


.site-nav-list{
    margin-left: 93px;
}

.site-nav-list > .item +.item{ 
    display: flex;
    margin-left: 50px;
}


.site-nav-list .link{
    color: inherit;
    font-weight: 500;
    letter-spacing: 0.02em;
}


.envelope, .smartphone{ 
    margin-right: 10px;
    fill: var(--secondary-text-color);
    transition: fill var(--transition-duration) 
    var(--transition-timing-function);
}

.mail-link:hover .envelope,
.tel-link:hover .smartphone,
.mail-link:focus .envelope,
.tel-link:focus .smartphone
{
    fill: var(--accent-color);
}


.contacts-nav .link{
    display: flex;
    align-items: center;
}

.site-nav-list .current{
    color: var(--accent-color);
}

.contacts-nav .link{
    color: #757575;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.position, .studio{
    position: relative;
}

.current::after{
    position: absolute;
    bottom: -34px;
    left: 50%;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transform: translate(-50%);
    /* margin-top: 28px; */
}

.portfolio.current::after{
    width: 100%;
    transform: translate(-50%);
}


/* ::before and ::after тренування */

/* .contacts-nav .item::before{
    display:inline-block;
    content: "";
    margin-right: 10px;
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
}

.contacts-nav .letter-icon::before{
    width: 16px;
    height: 12px;
    background-image: url(../images/envelope\ \(1\).svg);
}

.contacts-nav .tel-icon::before{
    width: 10px;
    height: 16px;
    background-image: url(../images/phone-icon\ \(1\).svg);
}

.features .item{
    display: flex;
    flex-wrap: wrap;
}

.features .title::before{
    content: "";
    margin-bottom: 30px;
    display:inline-flex;
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.icon-antenna::before{
    background-image: url(../images/antenna\ 1\ \(1\).svg);
    /* background-size: 65px 70px; уже відповідає */

/* .icon-clock::before{
    background-image: url(../images/clock\ 1\ \(1\).svg);
    /* width: 67px;
    height: 70px; */

/* .icon-diagram::before{
    background-image: url(../images/diagram\ 1\ \(1\).svg);
}

.icon-astronaut::before{
    background-image: url(../images/astronaut\ 1\ \(1\).svg);
}

.team .box::after{
    content: "";
    display: inline-flex;
    width: 200px;
    height: 44px;
    background-color: #ffffff;
    background-image: url(../images/SL-All.svg);
    background-position: center;
    margin-left: 32px;
} */



/* Герой */

.hero-overlay{
    background-color: #2F303A;
    height: 600px;
    /* max-width: 1600px; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
    /* background-size: 200px; */
    
}

.hero{
    text-align: center;
}

.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    color: var(--background-color);
    margin-bottom: 30px;
    padding-left: 222px;
    padding-right: 222px;
}


/* Особливості */

.features{
    margin-bottom: 94px;

}

.features .box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}


.container > .features{
    display: flex;
    justify-content: space-between;
}

.features .item{
    width: 270px;
}

.features .title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features .text{
    line-height: 1.71;
    color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

.container .section-title{
    margin-bottom: 50px;
} 

.works > .list{
    display: flex;
    justify-content: space-between;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.works .thumb{
    position: relative;
}

.works .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}

/* Наша команда */

.team-section{
    background-color: #F5F4FA;
}

.our-team > .team{
    display: flex;
    justify-content: space-between;
}

.team .box{
    width: 270px;
    height: 428px;
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team .position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.social-media{
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
}

.social-media .link,
.join .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;   
    transition: background-color var(--transition-duration) 
    var(--transition-timing-function), 
    fill var(--transition-duration) var(--transition-timing-function);
}

.social-media .link{
    background-color: var(--background-color);
}

.social-media .link:hover,
.join .link:hover, .social-media .link:focus,
.join .link:focus 
{
    background-color: var(--accent-color);
}

.social-media .link-icon{
    fill: #AFB1B8;
    transition: fill var(--transition-duration) 
    var(--transition-timing-function);
}

.link:hover .link-icon,
.link:focus .link-icon{
    fill: var(--background-color);
}




/* Постійні клієнти */

.clients{
    display: flex;
    justify-content: space-between;
}

.clients .link{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color var(--transition-duration) 
    var(--transition-timing-function);
}

.clients .link:hover,
.clients .link:focus
{
    border-color: var(--accent-color);
    transition: border-color var(--transition-duration) 
    var(--transition-timing-function);
}

.clients .link-icon{
    fill: #AFB1B8;
    transition: fill var(--transition-duration) 
    var(--transition-timing-function);
}

.clients .link:hover .link-icon,
.clients .link:focus .link-icon
{
    fill: var(--accent-color);
}

/* Footer */

.footer{
    /* max-width: 1600px; */
    background-color:#2F303A;
    margin-left: auto;
    margin-right: auto;
}

.footer-box{
    display: flex;  
}

.address-flex{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box  .logo-part-2{
    color: #ffffff;
}

.address{
    font-style: normal;
    line-height: 1.71;
    margin-top: 20px;
}

.city{
    display: block;
    color: var(--background-color);
    margin-bottom: 9px;
}

.address a:not(:last-child){
    margin-bottom: 9px;
}

.address .link{
    color: rgba(255, 255, 255, 0.6);
    width: max-content;
}

.join{
    margin-left: 70px;
    padding-top: 72px;
}

.join .title, .spam-label{ 
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.join .title{
    margin-bottom: 20px;
}

.join .list{
    display: flex;
}

.join .link{
    background-color: rgba(255, 255, 255, 0.1);
}

.join .link-icon{
    fill: #ffffff;
}

.join .list:not(:last-child){
    margin-right: 10px;
}


.spam-form{
    display: flex;
    align-items: flex-end;
    padding-top: 72px;
    padding-bottom: 94px;
    margin-left: 93px;
}



.spam-input{
    display: block;
    margin-top: 20px;
    width: 358px;
    padding: 15px 16px 15px 16px;
    border-style: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    outline: none;
}

.spam-input:focus{
    color: var(--background-color);
}

.spam-input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);  
}

.spam-button{
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;
    border: 0;
    color: var(--background-color);
    background-color: var(--accent-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 62px 10px 29px;
    height: 50px;
    margin-left: 12px;
    transition: background-color var(--transition-duration) 
    var(--transition-timing-function);
}

.spam-button:hover, .close-button:hover{
    cursor: pointer;
}

.icon-send{
    position: absolute;
    margin-left: 10px;
    top: center;
    transform: translateY(-50%);
    
}


/* Кнопки */

.hero .main-button, .send-button{
    border: 0;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em; 
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--accent-color);
    transition: background-color var(--transition-duration) 
    var(--transition-timing-function);
}



/* Бакдроп */

.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: var(--transition-timing-function);
    transition-delay: 50ms;
}  

.is-hidden{
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 500ms, 1ms;
    transition-timing-function: var(--transition-timing-function), linear;
    transition-delay: 50ms, 430ms;

    
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-button{
    display: flex;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: fill var(--transition-duration) 
    var(--transition-timing-function);
}


/* Розмітка форми Передзвону */



.form-title{
    display: block;
    padding-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 30px;
}

.form-call-back{
    padding-left: 41px;
    padding-right: 39px;
}

.form-label:not(:last-child){
    position: relative;
    display: block;
    margin-bottom: 28px;
}

.form-label:nth-child(3){
    margin-bottom: 10px;
}

.form-label:nth-child(4){
    margin-bottom: 20px;
}


.form-input{
    display: block;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 13px 11px 42px;
    transition: border-color 250ms var(--transition-timing-function);
}

.form-text{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-left: 42px;
    color: #757575;
    outline: none;
    transform: translateY(-50%);
    transition: transform 250ms linear;
}

.form-textarea{
    transition: border-color 250ms;
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-text:focus{
    border-color: var(--accent-color);
    outline: none;
}

/* Чому не робе при фокусі? */

.form-label:hover .form-icon,
.form-label:focus .form-icon{
    fill: var(--accent-color);
}


.form-input:not(:placeholder-shown)~.form-text,
.form-input:hover .form-text{
    transform: translateY(-40px);
}

.form-icon{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 15px;
}

.comment-text{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    
}

.form-textarea{
    resize: none;
    width: 100%;
    padding: 12px 16px 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    outline: none;
}

.mail-consent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.consent-text{
    line-height: 1.71;
    color: #757575;
    margin-left: 10px;
}

.consent-text a{
    color: var(--accent-color);
}

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.checkbox:checked~.icon-rectangle{
    display: none;
}

.icon-check{
    display: none;
    pointer-events: none;
}

.checkbox:checked~.icon-check{
    display: block;
}

.form-call-back .send-button{
    display: block;
    padding: 10px 55px 10px 56px;
    margin: auto ;
    margin-top: 30px;
    transition: background-color var(--transition-duration) 
    var(--transition-timing-function);
}


/* ПОРТФОЛІО */

.portfolio-nav{
    display: flex;
    justify-content: center;

}

.portfolio-nav .list-item:not(:last-child){
    margin-right: 5px;
}

.work-examples{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 20px;
}

.photo-card{
    width: 370px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.portfolio-examples{
    transition: box-shadow var(--transition-duration) 
    var(--transition-timing-function);
}

.portfolio-examples:hover,
.portfolio-examples:focus
{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.portfolio-examples .thumb{
    position: relative;
    width: max-content;
    overflow: hidden;
}

.portfolio-examples .port-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--transition-duration) 
    var(--transition-timing-function);
}

.portfolio-examples:hover .port-overlay,
.portfolio-examples:focus .port-overlay{
    transform: translateY(0);
    transition: transform var(--transition-duration) 
    var(--transition-timing-function);
}

.port-overlay .text{
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
    padding: 63px 24px;

}
    
.list-item > .button{
    min-width: 128px;
    height: 38px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63px;
    color: var(--title-text-color);
    background: #F5F4FA;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-duration)
     var(--transition-timing-function), color var(--transition-duration) 
    var(--transition-timing-function), 
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.list-item  > .first-button{
    min-width: 73px;
}

.work-examples .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-examples .title-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
    margin-top: 4px;
}

.work-examples > .list-item{
    margin-top: 30px;
    margin-left: 30px;  
}

.link:hover,
.link:focus{
    color: var(--accent-color);
}

.hero .main-button:hover,
.hero .main-button:focus,
.spam-button:hover,
.send-button:hover,
.send-button:focus{
    background-color: teal;
}

.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.close-button:hover,
.close-button:focus{
    fill: var(--accent-color);
}



.diablo{
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.diablo .button{
    object-position: center;
    text-decoration: none;
    padding: 0;
}




/* animation-name
animation-duration
animation-timing-function
animation-delay
animation-iteration-count
animation-direction
animation-fill-mode
animation-play-state */
/* 
Тренування */
/* input {
    padding: 8px;
    font-family: inherit;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  } */


  /* Клас для приховування обєкту */

                        /* {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
                        } */